<div class="nav">
    <div class="nav-left">
      <a href="/"><img src="..//images/ips-logo.png" alt="IPS Logo"></a>
      <a href="/"><img id="logo" src="..//images/ipstext.png" alt="IPS College"></a>
    </div>
    <div class="nav-right">
      <div class="nav-right-top">
        <h4><a href="/team">Team</a></h4>
        <h4><a href="/tours">Gallery</a></h4>
        <h4><a href="/facilities">Infrastructure</a></h4>
        <h4><a href="/social">Social</a></h4>
      </div>
      <div class="nav-right-btm">
        <h3><a href="/">Home</h3></a>
        <h3><a href="/about">About Us</a></h3>
        <h3><a href="/studentcorner">Student Corner</a></h3>
        <h3><a href="/courses">Courses</a></h3>
        <button>
          <h3><a href="/contactus">Contact Us</a></h3>
        </button>
      </div>
    </div>
  </div>