<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>About IPS</title>
    <link rel="stylesheet" href="..//stylesheets/style.css">
</head>

<body>
    <div class="about">
    <%- include('partials/navbar') %>
        <div class="about-div">
                <div class="about-div-text">
                    <h1> <u> About Us </u></h1>
                    <p> <b>INDIRA PRIYADARSHINI COLLEGE,</b> CHHINDWARA was Founded in 2001, this constituent College of
                        Chhindwara University Chhindwara [Raja Shankar Shah University] and Recognizes by the Higher
                        Education Department Govt. Of M.P. College is Listed by the University Grant Commision (UGC)
                        Under
                        section 2(f).

                        Within a short span of time, our college is emerging as a benchmark for continuous journey
                        towards
                        excellence and has achieved remarkable recognition as one of the prestigious and progressive
                        educational institution in Madhya Pradesh.

                        Our College offers Bachelor of Science courses in Interdisplenary Sciences, Microbiology,
                        Biotechnology, Mathematics, Plain Biology, Computer Sciences & Information Technology,
                        Management,
                        Commerce. All Academic Programs Offered by the college has strong support infrastructure in
                        competent and dedicated faculty, requisite classrooms, state-of-the art laboratories, sp,
                        extensive
                        library facility and intellectual environment. All the efforts are undertaken to provide a
                        platform
                        for nurturing the talent of young minds by-stimulating them to pursue excellence.

                        Our students have invariably excelled in the university exams with positions of merit.
                        Activities
                        that fall outside the realm of the usual curriculum plays a vital role in imbibing strong
                        ethical
                        values in the students and to transform them into ignited individuals and competitive
                        professionals
                        so that they can reach to the pinnacle of success in their field. With perspective in mind.
                        There is
                        a continuous endeavour to ensure that the students evolve into near perfect entities through a
                        synergy of academic education and various vibrant extracurricular and co-curricular activities
                        under
                        the aegis of various educational clubs and societies.

                        The college also offers opportunities to learn several contemporary subjects in the form of
                        short
                        term add on courses being taught by experts from within and outside. The college tries to infuse
                        self confidence in our students and help them develop the skills and demeanour of lifelong
                        learning
                        so that they become academically competent and capable of facing the future with resilience and
                        optimism.</p>
                </div>
        </div>

    </div>
</body>

</html>