<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuva Utsav</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Other Activities</u></h1>
        <div class="classroom-div">
            <img src="..//images/Other Activities/20171221_152256.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20171221_152320.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20171221_154255.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20180814_173300.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20181025_140738.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20181025_143606.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20181025_144008.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/20190324_125353.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/59559b6a-2af9-473f-b34b-f61b336a611c.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/617b5c18-9cf5-45d0-a8b5-9924445c5acd.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/IMG-20191002-WA0044.jpg" alt="IPS Activity">
            <img src="..//images/Other Activities/IMG-20191002-WA0064.jpg" alt="IPS Activity">
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>