<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classrooms</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Students Classrooms</u></h1>
        <div class="classroom-div">
            <img src="..//images/College Images/2.jpg" alt="">
            <img src="..//images/College Images/1bf66f2a-9167-4777-a999-9ae8efb2bca9.jpg" alt="">
            <img src="..//images/College Images/20170529_143728 - Copy.jpg" alt="">
            <img src="..//images/College Images/20170529_143728.jpg" alt="">
            <img src="..//images/College Images/20170529_143752.jpg" alt="">
            <img src="..//images/College Images/20170529_144119.jpg" alt="">
            <img src="..//images/College Images/20170529_145246.jpg" alt="">
            <img src="..//images/College Images/IMG20170612171148.jpg" alt="">
            <img src="..//images/College Images/IMG20170612171350.jpg" alt="">
            <img src="..//images/College Images/9cf49008-729e-47d6-8c67-ec2c1463ba02.jpg" alt="">
            <img src="..//images/College Images/IMG20170612171137.jpg" alt="">
            <img src="..//images/College Images/2.jpg" alt="">
            
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>