<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Infrastructure & Facilities</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="facilities">
        <div class="nav">
            <div class="nav-left">
              <a href="/"><img src="..//images/ips-logo.png" alt="IPS Logo"></a>
              <a href="/"><img id="logo" src="..//images/ipstext.png" alt=""></a>
            </div>
            <div class="nav-right">
              <div class="nav-right-top">
                <h4><a href="/team">Team</a></h4>
                <h4><a href="/gallery">Gallery</a></h4>
                <h4>Infrastructure</h4>
                <h4>Other</h4>
              </div>
              <div class="nav-right-btm">
                <h3><a href="/">Home</h3></a>
                <h3><a href="/about">About Us</a></h3>
                <h3>Student Corner</h3>
                <h3>Courses</h3>
                <button>
                  <h3>Contact Us</h3>
                </button>
      
              </div>
            </div>
          </div>
        <h1><u>IPS Events</u></h1>
          <div class="other-section">
            <div class="team-section">
              <div class="tours">
                <img src="..//images/Comunity awearness/IMG_6728.JPG" alt="">
                <div class="text">
                  <h1>Community Awareness</h1>
                  <!-- <button> -->
                    <h3><a href="/community">
                      <button>View All</button></a></h3>
                  <!-- </button> -->
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Health awearness/f11e85fc-f970-450c-a113-8a422955db6d.jpg" alt="">
                <div class="text">
                  <h1>Health Awareness</h1>
                  <button>
                    <h3><a href="/health">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Nature awearness/IMG_7039.JPG" alt="">
                <div class="text">
                  <h1>Nature Awareness</h1>
                  <button>
                    <h3><a href="/nature">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Yuva Utsav/8b6521e1-f5b0-49a1-b352-07281c338281.jpg" alt="">
                <div class="text">
                  <h1>Yuva Utsav</h1>
                  <button>
                    <h3><a href="/yuvautsav">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Other Activities/20190324_125353.jpg" alt="">
                <div class="text">
                  <h1>Other Activity</h1>
                  <button>
                    <h3><a href="/activity">View All</a></h3>
                  </button>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>