<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Process</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="admissionprocess">
        <div class="nav">
            <div class="nav-left">
                <a href="/"><img src="..//images/ips-logo.png" alt="IPS Logo"></a>
                <a href="/"><img id="logo" src="..//images/ipstext.png" alt=""></a>
            </div>
            <div class="nav-right">
                <div class="nav-right-top">
                    <h4><a href="/team">Team</a></h4>
                    <h4><a href="/tours">Gallery</a></h4>
                    <h4>Infrastructure</h4>
                    <h4>Other</h4>
                </div>
                <div class="nav-right-btm">
                    <h3><a href="/">Home</h3></a>
                    <h3><a href="/about">About Us</a></h3>
                    <h3><a href="/studentcorner">Student Corner</a></h3>
                    <h3>Courses</h3>
                    <button>
                        <h3>Contact Us</h3>
                    </button>
                </div>
            </div>
        </div>
        <h1><u>Examination Scheme</u></h1>
    </div>
</body>

</html>