<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Process</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="admissionprocess">
        <%- include('partials/navbar') %>

        <h1><u>Examination Scheme</u></h1>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>