<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Infrastructure & Facilities</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="facilities">
      <%- include('partials/navbar') %>

        <h1><u>Our Infrastructure & Facilities</u></h1>
          <div class="other-section">
            <div class="team-section">
              <div class="tours">
                <img src="..//images/College Images/2.jpg" alt="">
                <div class="text">
                  <h1>Our College Campus</h1>
                  <button>
                    <h3><a href="/campus">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/LAb/20170529_144625.jpg" alt="">
                <div class="text">
                  <h1> Our Lab</h1>
                  <button>
                    <h3><a href="/lab">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Class Room Images/4.jpg" alt="">
                <div class="text">
                  <h1>Our Classrooms</h1>
                  <button>
                    <h3><a href="/classrooms">View All</a></h3>
                  </button>
                </div>
              </div>
              <div class="tours">
                <img src="..//images/Library/20170530_123650.jpg" alt="">
                <div class="text">
                  <h1>Our Library</h1>
                  <button>
                    <h3><a href="/library">View All</a></h3>
                  </button>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>