<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Gallery</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="gallery">
      <%- include('partials/navbar') %>

          <h1><u>Gallery</u></h1>
    </div>
</body>
</html>