<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Awareness Program</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Health Awareness Program</u></h1>
        <div class="classroom-div">
            <img src="..//images/Health awearness/2015-02-19 Swain Flu (18).jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/2015-02-19 Swain Flu (4).jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/2015-02-19 Swain Flu (7).jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/5d227ca8-de0c-4b82-addf-ebd817603d0a.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/a0a155aa-a037-4e7c-8993-aa5b65ce6c39.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/a9e8012a-fadb-444f-88ac-0ded849578a8.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/f11e85fc-f970-450c-a113-8a422955db6d.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/IMG-20191130-WA0032.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/IMG-20191130-WA0099.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/04.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/05.jpg" alt="Health Awareness">
            <img src="..//images/Health awearness/0aac5724-411e-4454-9d9e-f39090f4d884.jpg" alt="Health Awareness">
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>