<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IPS College</title>
  <link rel="stylesheet" href="..//stylesheets/style.css">
</head>

<body>
  <div class="home">
    <div class="nav">
      <div class="nav-left">
        <a href="/"><img src="..//images/ips-logo.png" alt="IPS Logo"></a>
        <a href="/"><img id="logo" src="..//images/ipstext.png" alt=""></a>
      </div>
      <div class="nav-right">
        <div class="nav-right-top">
          <h4><a href="/team">Team</a></h4>
          <h4><a href="/tours">Gallery</a></h4>
          <h4><a href="/facilities">Infrastructure</a></h4>
          <h4><a href="https://www.instagram.com/ips.college_cwa/">Social</a></h4>
        </div>
        <div class="nav-right-btm">
          <h3><a href="/">Home</h3></a>
          <h3><a href="/about">About Us</a></h3>
          <h3><a href="/studentcorner">Student Corner</a></h3>
          <h3><a href="/courses">Courses</a></h3>
          <button>
            <h3>Contact Us</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="image-section">
      <div class="main-image">
      </div>
      <div class="main-updates">
        <h2>NEWS & UPDATES </h2>
        <div class="updates-info">
          <h5>Dates</h5>
          <p>This is some info</p>
        </div>
        <div class="updates-info">
          <h5>Dates</h5>
          <p>This is some info</p>
        </div>
        <div class="updates-info">
          <h5>Dates</h5>
          <p>This is some info</p>
        </div>
        <div class="updates-info">
          <h5>Dates</h5>
          <p>This is some info</p>
        </div>
        <div class="updates-info">
          <h5>Dates</h5>
          <p>This is some info</p>
        </div>
      </div>
    </div>
    <div class="about-clg">
      <h1>
        <u>Indira Priyadarshini College (IPS) </u>
      </h1>
      <p>
        <b> Indira Priyadarshini College, </b> Chhindwara, founded in 2001 and UGC-recognized, offers diverse B.Sc.
        programs.
        With dedicated faculty and modern facilities, the college excels in fostering academic excellence and
        nurturing students’ growth through strong infrastructure and enriching extracurricular activities.
      </p>
    </div>
    <div class="home-principal-msg">
      <h1><u class="p-msg"> Principal's Message </u></h1>
      <div class="msg-div">
        <img class="quote1" src="..//images/quote-1.svg" alt="">
        <img class="quote2" src="..//images/quote-2.svg" alt="">
        <div class="principal-photo">
          <img src="http://www.ipschw.com/Uploads/Pages/20170529_131647-1.jpg" alt="">
        </div>
        <div class="msg-text">
          <p>
            Dear Friends,
            <br>
            Many students enroll at Indira Priyadarshini College, Chhindwara, to improve their job prospects,
            qualifications, or skills. Some study for higher qualifications or personal fulfillment. This Orientation
            provides essential information about courses, support, and implications of becoming a student. We offer
            diverse courses to match your ambitions and support your individual growth. Visit our website for more
            details. Best wishes in your decision.
          </p>
          <h3> - Dr. J. Khanwe</h3>
        </div>
      </div>
    </div>
    <div class="fourth-div">
      <div class="fourth-div-cover">
        <h1> <u>Our Vision </u></h1>
        <img src="..//images/ips-logo.png" alt="">
        <p> <b>Indira Priyadarshini college</b> is committed to provide quality education and set highest standard of
          global exposure to the students in the fixed duration, should be value for money while achieving student
          satisfaction in all respect of performance and reliability through continual improvement by established
          quality management system, employees involvement and reviewing the established objectives of the institute
          time to time.</p>
      </div>
    </div>
    <div class="other-section">
      <div class="team-section">
        <div class="tours">
          <img src="http://www.ipschw.com/Uploads/Images/ips-college-students.png" alt="">
          <div class="text">
            <h1>IPS Placements</h1>
            <button>
              <h3><a href="/placements">View All</a></h3>
            </button>
          </div>
        </div>
        <div class="tours">
          <img src="..//images/rankers.jpeg" alt="">
          <div class="text">
            <h1>IPS Top Rankers</h1>
            <button>
              <h3><a href="/rankers">View All</a></h3>
            </button>
          </div>
        </div>
        <div class="tours">
          <img src="..//images/Nature awearness/IMG_7067.JPG" alt="">
          <div class="text">
            <h1>Recent Events</h1>
            <button>
              <h3><a href="/events">View All</a></h3>
            </button>
          </div>
        </div>
        <div class="tours">
          <img src="..//images/college-image-hd.jpg" alt="">
          <div class="text">
            <h1>Infrastructure & Facilities</h1>
            <button>
              <h3><a href="facilities">View All</a></h3>
            </button>
          </div>
        </div>
        <div class="tours">
          <img src="..//images/tours.jpg" alt="">
          <div class="text">
            <h1>IPS Tours</h1>
            <button>
              <h3><a href="/tours">View All</a></h3>
            </button>
          </div>
        </div>
        <div class="tours">
          <!-- <img src="..//images/orientation/DSC00005.JPG alt=""> -->
          <img src="..//images/orientation/DSC00048 new'.jpg">
          <div class="text">
            <h1>Freshmen Orientation</h1>
            <button>
              <h3><a href="/orientation">View All</a></h3>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-top">
        
      </div>
      <h4>IPS College Chhindwara, All Rights Reserved © 2024</h4>
    </div>
  </div>
</body>

</html>