<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Lab</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Our Lab</u></h1>
        <div class="classroom-div">
            <img src="..//images/LAb/024.jpg" alt="">
            <img src="..//images/LAb/20170529_144547.jpg" alt="">
            <img src="..//images/LAb/20170529_144625.jpg" alt="">
            <img src="..//images/LAb/20170529_144650.jpg" alt="">
            <img src="..//images/LAb/20170529_144715.jpg" alt="">
            <img src="..//images/LAb/20170529_144733.jpg" alt="">
            <img src="..//images/LAb/20170529_144954.jpg" alt="">
            <img src="..//images/LAb/Computer (2).jpg" alt="">
            <img src="..//images/LAb/024.jpg" alt="">
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>