<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classrooms</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Students Classrooms</u></h1>
        <div class="classroom-div">
            <img src="..//images/Library/Lib.jpg" alt="">
            <img src="..//images/Library/20170530_123638.jpg" alt="">
            <img src="..//images/Library/20170530_123650.jpg" alt="">
            <img src="..//images/Library/20170530_123702.jpg" alt="">
            <img src="..//images/Library/20170530_123718.jpg" alt="">
        </div>
    </div>
</body>

</html>