<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature Awareness Program</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Nature Awareness Program</u></h1>
        <div class="classroom-div">
            <img src="..//images/Nature awearness/20140930_160935.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20140930_161038.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20141002_120441.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20141016_120045.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/2015-05-09 Pakshi Sanrakshan (1).jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/2015-10-31 Manav Shrankhla NSS (5).jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160109_173733.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160109_173733.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160523_064742.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160523_065624.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160523_065624.jpg" alt="Nature Awareness">
            <img src="..//images/Nature awearness/20160813_080413.jpg" alt="Nature Awareness">
        </div>
    </div>
</body>

</html>