<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Non-Teaching Satff</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="nonteachii">
      <%- include('partials/navbar') %>

        <h1><u>Administration</u></h1>      
        <div class="cards">
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Rajkumar Pahade</h2>
              <div class="title">Librarian</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Rajkumar%20Pahade.png" alt=""></div>
            </article>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Ashwin Shende</h2>
              <div class="title">Clerk</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Ashwin%20Shende.png" alt=""></div>
            </article>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Sunil Madboinwar</h2>
              <div class="title">Accountant</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Sunil%20Madboinwar.png" alt=""></div>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Ankit Raghuwanshi</h2>
              <div class="title">Computer Operator</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Ankit%20Raghuwanshi.png" alt=""></div>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Rahul Suryawanshi</h2>
              <div class="title">Clerk</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Rahul%20Suryawanshi.png" alt=""></div>
            </article>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mrs. Jayshri Pawar</h2>
              <div class="title">Book Lifter</div>
              <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Jay%20Shri%20Pawar.png" alt=""></div>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Chandra Kishan Pal</h2>
              <div class="title">Peon</div>
              <div class="pic"><img src="" alt=""></div>
          </div>
          <div class="card">
            <span class="close"></span>
            <article>
              <h2>Mr. Vijay Sahu</h2>
              <div class="title">Peon</div>
              <div class="pic"><img src="" alt=""></div>
          </div>
        <!-- <div class="nonteach-div">

        </div> -->
    </div>
</body>
</html>