<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshmen Orientation</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>

    <div class="tour">
        <%- include('partials/navbar') %>

        <h1><u>Freshmen Orientation</u></h1>
        <div class="tour-section">
            <div class="tour-div">
                <div class="grid-container">
                    <div>
                        <img src="..//images/orientation/DSC00003 n.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00013.JPG" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00017.JPG"
                        alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00021.JPG"
                        alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00029.JPG" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00031.JPG" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00038 new.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00048 new'.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00005.JPG" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00049 new.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC00049.JPG" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0264_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0265_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0266_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0267_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0267_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                    <div>
                        <img src="..//images/orientation/DSC_0269_1.jpg" alt="">
                        <h3>Freshmen 2023</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>