<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Placement</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="placement">
        <%- include('partials/navbar') %>

        <h1><u>Our Placements</u></h1>
        <div class="team-section">
            <div class="placement-section">
                <img src="..//images/placement.jpg" alt="">
                <div class="text">
                    <h1>Shruti Chourasiya</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/45.jpg" alt="">
                <div class="text">
                    <h1>Shraddha</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/44.jpg" alt="">
                <div class="text">
                    <h1>Nishant Sahu</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/42.jpg" alt="">
                <div class="text">
                    <h1>Parag Patel</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/41.jpg" alt="">
                <div class="text">
                    <h1>Priyanshu Choure</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/40.jpg" alt="">
                <div class="text">
                    <h1>Anjali Mahore</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/391.jpg" alt="">
                <div class="text">
                    <h1>Sakshi Pansare</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="..//images/placement.jpg" alt="">
                <div class="text">
                    <h1>Shruti Chourasiya</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/33.jpg" alt="">
                <div class="text">
                    <h1>Shruti Chourasiya</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="..//images/placement.jpg" alt="">
                <div class="text">
                    <h1>Sourabh Thakur</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/45.jpg" alt="">
                <div class="text">
                    <h1>Shraddha</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://www.ipschw.com/Uploads/Images/44.jpg" alt="">
                <div class="text">
                    <h1>Nishant Sahu</h1>
                    <h4>B.B.A</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>