<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Rankers</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="rankers">
        <%- include('partials/navbar') %>

        <h1><u>Our Top Rankers</u></h1>
        <div class="team-section">
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/1SEMRSS%20result%20poster.jpg" alt="">
                <div class="text">
                    <h1>M.Sc. Top Rankers</h1>
                    <h4>M.Sc.  Microbiology I Semester Session Dec 2023</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/result%20poster%20(1).png" alt="">
                <div class="text">
                    <h1>M.Sc Top Rankers</h1>
                    <h4>M.Sc  Microbiology III Semester Session Dec 2023</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/2.0%20result.png" alt="">
                <div class="text">
                    <h1>M.Sc Top Rankers</h1>
                    <h4>M.Sc  Biotechnology III Semester Session Dec 2023</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/1SEMRSS%20result%20poster.jpg" alt="">
                <div class="text">
                    <h1>M.Sc. Top Rankers</h1>
                    <h4>M.Sc.  Microbiology I Semester Session Dec 2023</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/BA%20SECOND%20YEAR.jpg" alt="">
                <div class="text">
                    <h1>B.A. TOP RANKERS</h1>
                    <h4>B.A. II YEAR</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/ba%20FIRST%20YEAR.jpg" alt="">
                <div class="text">
                    <h1>B.A. TOP RANKERS</h1>
                    <h4>B.A. I YEAR</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/B.Com.jpeg" alt="">
                <div class="text">
                    <h1>B.Com. Top Ranker</h1>
                    <h4>B.Com. Ist Year Top Ranker</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/BBA%201.jpeg" alt="">
                <div class="text">
                    <h1>B.COM. TOP RANKERS</h1>
                    <h4>B.COM I YEAR</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/BBA%202%20YEAR.jpg" alt="">
                <div class="text">
                    <h1>BBA TOP RANKERS</h1>
                    <h4>BBA II YEAR</h4>
                </div>
            </div>
            <div class="placement-section">
                <img src="http://ipschw.com/Uploads/Images/BBA%201.jpeg" alt="">
                <div class="text">
                    <h1>BBA TOP RANKERS</h1>
                    <h4>BBA I YEAR</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>