<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Process</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>

    <div class="admissionprocess">
        <%- include('partials/navbar') %>

        <h1><u>Rules and Regulations</u></h1>
        <ul class="timeline">
            <li class="timeline-heading">Admission Rules:</li>
            <li>Admission forms will be sold from a stipulated date by the college principal.</li>
            <li>Admission means, remittance of all fees up to the stipulated date.</li>
            <li>Admission is on the basis ‘First come First serve’ on merit. So high percentage late comers may be
                deprived of admission. Therefore students should be careful of the time factor. There is no reservation
                for high tech Subject</li>
            <li>Age limit- no student above 22 in the first year or above 27 in the P.G. classes will be admitted. Age
                will be calculated as on 1 july . SC, ST, OBC, Disable and Woman students will have relaxation of 3 more
                years.</li>
            <li>Decision of the admission committee constituted by the principal will be final.</li>
            <li>Students, whose result is withheld by the Board, can be considered on merit basis within two weeks of
                the declaration of the results.</li>
            <li>Cut of percentage will be declared on the notice board.</li>
        </ul>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>