<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ips College</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="..//stylesheets/style.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="social-wrapper">
            <div class="instacard">
                <a href="https://www.instagram.com/ips.college_cwa/">
                    <div class="top">
                        <div class="userDetails">
                            <div class="profile_img">
                                <img src="..//images/ips-logo.png" class="cover" alt="">
                            </div>
                            <h3>ips.college_cwa<br><span>IPS College, Chhindwara</span></h3>
                        </div>
                        <div>
                            <div class="settings"></div>
                        </div>
                    </div>
                    <div class="imgBox">
                        <a href="https://www.instagram.com/ips.college_cwa/"><img src="..//images/tours.jpg"
                                class="cover"></a>
                    </div>
                    <div class="buttons">
                        <i style="color: red; font-size: 30px;" class="ri-heart-fill"></i>
                        <img class="icon" src="https://zupimages.net/up/22/29/h5ft.png">
                        <img class="icon" src="https://zupimages.net/up/22/29/9y56.png">
                    </div>
                    <h4 class="likes">1, 038 likes</h4>
                    <h4 class="message"><b>ips.college_cwa</b> 🚀 Hurry! There are *limited seats* available, and this
                        is your chance to secure your spot.</h4>
                </a>
            </div>
            <div class="youtube">
                <section>
                    <div class="content">
                        <div class="thumbnail"> <a href="https://www.youtube.com/watch?v=t6DpJz-Gmgs"><img src="..//images/youtube-thumbnail.png" alt="thumbnail"></a> </div>
                        <div class="header"></div>
                        <div class="fold"></div>
                        <div class="text">
                            <div class="heading">
                                <h1>Comments</h1> <button>
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </div>
                            <div class="timeline"> <button style="background: #fff;">
                                    <p>Top</p>
                                </button> <button class="select">
                                    <p>Timed</p>
                                </button> <button class="select">
                                    <p>Newest</p>
                                </button> </div>
                            <div class="notice">
                                <p>Remember to keep comments respectful and to follow our <span><button
                                            type="button">Community Guidelines</button></span></p>
                            </div>
                            <div class="comment">
                                <div class="profile user1"> <img src="https://i.postimg.cc/Y07dwFWC/user-1.jpg"
                                        alt="User Profile"> </div>
                                <div class="comment_main">
                                    <div class="line1">
                                        <p>@mr_sheep • 2 yr ago (edited)</p>
                                    </div>
                                    <div class="line2">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                        <p>elit. Laudantium, voluptate!. Lorem, ipsum.</p>
                                    </div>
                                    <div class="other"> <button>
                                            <ion-icon name="heart-outline"></ion-icon>
                                            <p>5.3k</p>
                                        </button> <button>
                                            <ion-icon name="heart-dislike-outline"></ion-icon>
                                        </button> <button>
                                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                        </button> </div>
                                    <div class="replies"> <button>
                                            <p>60 replies</p>
                                        </button> </div>
                                </div>
                                <div class="profile user2"> <img src="https://i.postimg.cc/KjK8xKSC/user-2.png"
                                        alt="User Profile"> </div>
                                <div class="comment_main">
                                    <div class="line1">
                                        <p>@loverhair • 1 yr ago (edited)</p>
                                    </div>
                                    <div class="line2">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                        <p>elit. Laudantium, voluptate!</p>
                                    </div>
                                    <div class="other"> <button>
                                            <ion-icon name="heart-outline"></ion-icon>
                                            <p>2.9k</p>
                                        </button> <button>
                                            <ion-icon name="heart-dislike-outline"></ion-icon>
                                        </button> <button>
                                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                        </button> </div>
                                    <div class="replies"> <button>
                                            <p>30 replies</p>
                                        </button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> <!-- JS_for_icons:Start -->
            </div>
            <div class="facebook-post">
                <div class="facebook-header">
                    <div class="facebook-profile-pic"></div>
                    <div>
                        <div><strong>IPS College Chhindwara </strong></div>
                        <div class="facebook-post-details">5 August at 11:36 - <i class="ri-global-line"></i></div>
                    </div>
                </div>
                <div class="facebook-post-content">
                    "CODING MASTERS IN THE MAKING!
                    Catch a glimpse of our students in action as they dive into the world of programming in C! 🚀
                </div>
               <a href="https://www.facebook.com/p/IPS-College-Chhindwara-100069945241614/"><div class="facebook-post-image"></div></a>
                <div class="facebook-post-footer">
                    <span style="color: #1877F2;" class="facebook-button"><i style="color: #1877F2;"
                            class="ri-thumb-up-fill"></i> Like</span>
                    <span class="facebook-button"><i class="ri-chat-4-line"></i> Comment</span>
                    <span class="facebook-button"><i class="ri-share-forward-line"></i> Share</span>
                </div>
            </div>
        </div>
    <%- include('partials/footer') %>

</body>

</html>