<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studnent Corner</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="studentcorner">
        <%- include('partials/navbar') %>

        <div class="studentcorner-div">
            <div class="student-benefits">
                <h1><a href="/admissionprocess"><u>Admission Process</u></a></h1>
                <h1><a href="/rules"><u>Rules & Regulations</u></a></h1>
                <h1><a href="/examinationscheme"><u>Examination Scheme</a></u></h1>
                <h1><a href="/fee"><u>Class & Fee Structure</u></a></h1>
                <h1><a href="/timetable"><u>Time Table</u></a></h1>
            </div>
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>