<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Teaching Staff</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="teach">
      <%- include('partials/navbar') %>

          <div class="teach-div">
            <h1>Our Teaching Staff</h1>
            <div class="cards">
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Dr. Randheer Kumar Jha</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Randhir%20Kumar%20Jha.png" alt=""></div>
                    <div class="desc">Department of Bio Science</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Amit Gajbhiye</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Amit%20Gajbhiye.png" alt=""></div>
                    <div class="desc">Department of Management</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Binod Kumar</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Binod%20Sahu.png" alt=""></div>
                    <div class="desc">Department of Commerce</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Ritesh Malviya</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Ritesh%20Malviya.png" alt=""></div>
                    <div class="desc">Department of Commerce</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Annu Jha</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Jha%20Madam%20Image.png" alt=""></div>
                    <div class="desc">Department of Bio Science</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Ankita Singh Chouhan</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Ankita%20Singh%20iMAGE.png" alt=""></div>
                    <div class="desc">Department of Chemistry</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Seema Wankhede</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Seema%20Wankhede.png" alt=""></div>
                    <div class="desc">Department of Computer</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Apoorva Rai</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Apoorva%20Rai%200011.jpg" alt=""></div>
                    <div class="desc">Department of Computer</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Mala Kanojiya</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Mala%20Kanojiya.png" alt=""></div>
                    <div class="desc">Humanities</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mrs. Leena Pawar</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Leena%20Pawar.png" alt=""></div>
                    <div class="desc">Department of Humanities</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Miss. Bhagyashri Bais</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Bhagyashri%20Bais.jpeg" alt=""></div>
                    <div class="desc">Department of Humanities</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Pankaj Chourasiya</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Pankaj%20Chourasia.png" alt=""></div>
                    <div class="desc">Department of Computer.</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Mahesh Humnekar</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Mahesh%20Humnekar.png" alt=""></div>
                    <div class="desc">Department of Computer.</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Gagan Boniya</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Gagan%20Baniya.png" alt=""></div>
                    <div class="desc">Department of CS/IT.</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Mohit Barmaiya</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/mohti.jpg" alt=""></div>
                    <div class="desc">Department of Management</div>
                  </article>
                </div>
                <div class="card">
                  <span class="close"></span>
                  <article>
                    <h2>Mr. Aseem Sharma</h2>
                    <div class="title">Assistant Professor</div>
                    <div class="pic"><img src="http://www.ipschw.com/Uploads/Team/Aseem%20Sharma.jpeg" alt=""></div>
                    <div class="desc">Department</div>
                  </article>
                </div>
              </div>
          </div>
    </div>
</body>
</html>