<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Team</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="team">
      <h1><u>IPS Team</u></h1>
      <%- include('partials/navbar') %>

          <div class="team-section">
            <div class="administration">
              <img src="https://www.shutterstock.com/image-vector/continuous-line-art-group-corporate-600nw-2227229717.jpg" alt="">
              <div class="text">
                <h1>Administration</h1>
                <button><h3><a href="/administration">View All</a></h3></button>
              </div>
            </div>
            <div class="teaching">
              <img src="https://static.vecteezy.com/system/resources/thumbnails/010/475/006/small_2x/female-teacher-with-a-pointer-in-her-hand-and-a-book-line-drawing-illustration-minimal-art-drawing-of-a-female-teacher-or-business-woman-in-a-jacket-continuous-line-design-vector.jpg" alt="">
              <div class="text">
                <h1>Teaching</h1>
                <button><h3><a href="/teaching">View All</a></h3></button>
              </div>
            </div>
            <div class="non-teaching">
              <img src="https://www.shutterstock.com/image-vector/continuous-line-art-group-corporate-600nw-2227229717.jpg" alt="">
              <div class="text">
                <h1>Non Teaching</h1>
                <button><h3><a href="/nonteaching">View All</a></h3></button>
              </div>
            </div>
          </div>
    </div>
</body>
</html>