<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPS Tours</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="tour">
        <%- include('partials/navbar') %>

        <h1><u>Tour Gallery</u></h1>
        <div class="tour-section">
            <div class="tour-div">
                <div class="grid-container">
                    <div>
                        <img src="..//images/tours.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG_20240228_1218041.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/WhatsApp%20Image%202024-05-03%20at%204.46.26%20PM1.jpeg"
                            alt="">
                        <h3>Nashik Excursion Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/WhatsApp%20Image%202024-05-03%20at%204.46.10%20PM1.jpeg"
                            alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG_20240227_170023.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG_20240228_1221171.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/2b5e3de4-2504-41fb-aa41-a0b3a9367f40.jpg" alt="">
                        <h3>Pench National Park</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/bf5f4978-98cd-44ba-9e89-f3cfed55f9a3.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG-20240301-WA0024.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG-20240301-WA0130.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/4c7054d8-ba15-4ca1-aaf7-df22ffb0fcab.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    <div>
                        <img src="http://www.ipschw.com/Uploads/Images/IMG-20240226-WA0010.jpg" alt="">
                        <h3>Manali Tour</h3>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>