<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuva Utsav</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="classrooms">
        <div class="nav">
            <div class="nav-left">
                <a href="/"><img src="..//images/ips-logo.png" alt="IPS Logo"></a>
                <a href="/"><img id="logo" src="..//images/ipstext.png" alt=""></a>
            </div>
            <div class="nav-right">
                <div class="nav-right-top">
                    <h4><a href="/team">Team</a></h4>
                    <h4><a href="/tours">Gallery</a></h4>
                    <h4>Infrastructure</h4>
                    <h4>Other</h4>
                </div>
                <div class="nav-right-btm">
                    <h3><a href="/">Home</h3></a>
                    <h3><a href="/about">About Us</a></h3>
                    <h3><a href="/studentcorner">Student Corner</a></h3>
                    <h3>Courses</h3>
                    <button>
                        <h3>Contact Us</h3>
                    </button>
                </div>
            </div>
        </div>
        <h1><u class="p-msg">Yuva Utsav</u></h1>
        <div class="classroom-div">
            <img src="..//images/Yuva Utsav/20170916_150645.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_150748-1.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_150840.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_152152.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_152818.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_155003.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_155941.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160025.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160202.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160413.jpg" alt="">
            <img src="..//images/Yuva Utsav/37548ff0-0295-4c77-b27c-69f43563ac88.jpg" alt="">
            <img src="..//images/Yuva Utsav/0c6b8ed3-093f-49e5-9f56-5339782b8f1f.jpg" alt="">
        </div>
    </div>
</body>

</html>