<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuva Utsav</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <%- include('partials/loader') %>
    <div class="classrooms">
        <%- include('partials/navbar') %>

        <h1><u class="p-msg">Yuva Utsav</u></h1>
        <div class="classroom-div">
            <img src="..//images/Yuva Utsav/20170916_150645.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_150748-1.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_150840.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_152152.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_152818.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_155003.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170916_155941.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160025.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160202.jpg" alt="">
            <img src="..//images/Yuva Utsav/20170922_160413.jpg" alt="">
            <img src="..//images/Yuva Utsav/37548ff0-0295-4c77-b27c-69f43563ac88.jpg" alt="">
            <img src="..//images/Yuva Utsav/0c6b8ed3-093f-49e5-9f56-5339782b8f1f.jpg" alt="">
        </div>
    </div>
  <script src="..//javascripts/script.js"></script>

</body>

</html>